@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root { 
    --fonte-1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-2: 'Passion One', cursive;
    --fonte-3: 'Sriracha', cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte-2);
}

header > p {
    padding-bottom: 50px;
    font-size: 1.5em;
}

header > p >  a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}

header > p > a:hover {
    text-decoration: underline;
}

.normal {
    color: black;
    background-color: white;
}

section {
    font-family: var(--fonte-3);
    font-size: 4vw;
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
    line-height: 2em;
    margin: auto;
}

.imagem#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

.imagem#img02 {
    background-image: url('imagens/background002.jpg');
    background-position: right center;
}

section.imagem {
    background-color: rgb(55, 55, 55);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.486);
    text-shadow: 1px 1px 0px black;;
}

section > p {
    padding-bottom: 2em;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    margin: auto;
    font-size: 2.5vw;
    padding: 15px;
}

footer > a {
    text-decoration: none;
    color:white;
    font-weight: bolder;
}

footer > a:hover {
    text-decoration: underline;
}







